<!-- Page Wrapper -->
<div id="wrapper">
  
  <div toastContainer></div>

  <div class="menu-container" [class.loading]="loadingSidebar" [ngClass]="{'open': isSidebarToggled, 'closed': !isSidebarToggled}">
    <ng-sidebar (toggleSidebar)="toggleSidebar($event)" [hide]="true"></ng-sidebar>
    <ng-sidebar-menu class="sidebar-menu" [isToggled]="isSidebarToggled"></ng-sidebar-menu>
  </div>
  
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">

      <ng-header></ng-header>

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Settings Button
        <button class="btn settings-btn"><i class="fa fa-wrench" aria-hidden="true"></i></button> -->

        <!-- Page Heading -->
        <!-- <h1 class="h3 mb-4 text-gray-800">Blank Page</h1> -->
        <router-outlet></router-outlet>

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <ng-footer></ng-footer>
  </div>
  <!-- End of Content wrapper -->
    
</div>
<!-- End of Page Wrapper. -->

<!-- Custom modal setup -->
<div id="modal-container" class="hidden"></div>
<div id="overlay" (click)="removeModal()" class="hidden"></div>
